body {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu a {
    padding: 12px 15px;
    text-decoration: none;
    color: #444;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 0.95rem;
    transition: 0.3s;
}

.menu a:hover,
.menu a.active {
    background-color: #007bff;
    color: white;
}

.manage-section .sidebar .top-bar {
    display: flex;

}

/* ===== MANAGE RESULTS SECTION ===== */
.manage-section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.manage-section h2 {
    font-family: "Poppins", sans-serif;
    color: #007bff;
    margin-bottom: 20px;
}

.manage-section table {
    width: 100%;
    border-collapse: collapse;
}

.manage-section th,
.manage-section td {
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
}

.manage-section th {
    color: #007bff;
    font-weight: 600;
}

.edit-btn,
.delete-btn {
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #b32d3b;
}