* {
    margin: 7px;
    padding: 3px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: monospace, Verdana, Tahoma;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 70px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;

}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.user-image img {
    width: 200px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    border: 1px solid black;
    box-shadow: 4px 6px 8px #2E2B2C;
    width: 500px;
    border-radius: 30px;
}

input {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #8F4221;
}


button {
    background: transparent;
    color: black;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
}

button:hover {
    background-color: #2C9253;
    color: black;
    transition: 0.7s ease-in-out;
}

button a {
    display: flex;
    flex-direction: row;
}