* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.main-content {
  padding: 20px;
}

/* Profile Page Layout */
.profile-container {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.profile-left {
  /* flex: 1; */
  min-width: 250px;
  text-align: center;
}

.profile-right {
  flex: 2;
  min-width: 300px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #003366;
}

.upload-btn {
  display: inline-block;
  margin-top: 10px;
  background: #003366;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Profile Form */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 45%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.save-btn {
  background: #007bff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
  transition: 0.3s;
}

.save-btn:hover {
  background: #0056b3;
}

/* Sidebar */
.sidebar {
  width: 350px;
  height: 100vh;
  background: #003366;
  color: #fff;
  padding: 20px;
}

.sidebar .logo {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul li.active,
.sidebar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

/* Password Section */
.password-section {
  margin-top: 50px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.password-section h2 {
  color: #003366;
  margin-bottom: 20px;
}