*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  
}

.main-content {
  padding: 20px;
  width: 100%;
}


/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #003366;
  color: #fff;
  padding: 20px;
}

.sidebar .logo {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul li.active,
.sidebar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}


/* Filter */
.semester {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.semester select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
  /* Results Table */
  .results {
    margin-top: 30px;
  }
  
  .results table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
  overflow: hidden;
}

.results th,
.results td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.results th {
  background: #003366;
  color: white;
}

.results tr:hover {
  background: #f1f1f1;
}
.others a{
  text-decoration: none;
}

/* GPA Summary */
.summary {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.summary-box {
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-box h3 {
  font-size: 15px;
  color: #003366;
  margin-bottom: 10px;
}

.summary-box p {
  font-size: 20px;
  font-weight: bold;
}

.summary-box.gpa {
  background:rgb(249, 120, 120);
  color: white;
}
.summary-box.grd {
  background: rgb(67, 138, 67);
  color: white;
}
.summary-box.cre {
  background: #4092e9;
  color: white;
}


/* Download Button */
.download-btn {
  margin-top: 30px;
  text-align: center;
}

.download-btn button {
  background: #003366;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.download-btn button:hover {
  background: #0056b3;
}
